<div>
  <h3>Ticket #<%= @ticket.id %></h3>
  <p>Bag number: <%= @bag.id %> is being stored in locker <%= @locker.id %></p>
</div>

<p><%= link_to 'Add another bag', new_bag_path %></p>
<p><%= link_to 'Retrieve this bag', edit_bag_path %></p>
<p><%= link_to 'Back to home', bags_path %></p>
