<div class="container">
  <h1>Hotel Concierge Locker System</h1>
  <div class="four columns">
    <%= render 'bags/new' %>
  </div>

  <div class="four columns ticket-list">
    <% if @tickets %>
    <h3>Current tickets:</h3>
    <% @tickets.each do |ticket|  %>
    <div class="ticket" id="<%= ticket.id %>">
      <p><span class="ticket-title">Ticket #<%= ticket.id %></span><br>
        Bag <%= ticket.bag.id %> is in Locker <%= ticket.locker.id %>.
        <button class="redeem-ticket">Redeem Ticket</button>
      </p>
    </div>
    <% end %>
    <% end %>
  </div>
</div>