<div class="container">
  <h1>Hotel Concierge Locker System</h1>
  <!-- this should be create ticket -->
  <div class="four columns">
    <%= render 'bags/new' %>
  </div>
  <div class="four columns">
    <%= render 'edit' %>
  </div>
  <!-- <div class="hr"></div> -->
  <div class="three columns ticket-list">
    <% if @tickets %>
    <h3>Current tickets:</h3>
    <% @tickets.each do |ticket|  %>
    <p><span class="ticket-title">Ticket #<%= ticket.id %></span><br>
      Bag <%= ticket.bag.id %> is in Locker <%= ticket.locker.id %>.
    </p>

    <% end %>
    <% end %>
  </div>
  <!-- this should be update or destroy ticket -->
</div>